# Data Science Tools and Ecosystem

## Introduction ##

In this notebook, Data Science Tools and Ecosystem are summarized.

__OBJECTIVE__

- Languages in Data Science
- Libraries in Data Science
- Data Science Tools
- Arithmetic Expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Scikit Learn
2. Matplotlib
3. Numpy
4. Pandas

|Data Science Tools| 
| ------ |
|Anaconda|
|Jupyter Notebook|
|Pycharm|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [14]:
200 / 60

3.3333333333333335

## Author ##
Pavithra P